#experience {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

#experience > h2 {
  padding-top: 130px;
  width: 100%;
  font-size: 1.5rem;
  color: var(--pf-color-2);
  padding-bottom: var(--pf-padding-l);
}

.jobs-info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
}

@media (max-width: 1022px) {
  #experience > h2 {
    padding-top: 0;
    margin-top: var(--pf-margin-xl);
  }
}

@media (max-width: 650px) {
  .jobs-info {
    flex-direction: column;
  }
}
